[Package]
version: 3
depends: 
incremental: False

[Product]
type: localboot
id: dfn_yed
name: yEd Graph Editor
description: Erstellung und Bearbeitung von Diagrammen unterschiedlicher Art (Graphen, Netzdiagramme, BPMN, UML, MindMaps, Organigramme, Entity-Relationship)
advice: 
version: 3.14.4
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: java
requiredStatus: installed
requirementType: before

[ProductProperty]
type: unicode
name: install_architecture
multivalue: False
editable: False
description: Betriebssystem-Architektur 32/64 Bit
values: ["32 only", "64 only", "both", "system specific"]
default: ["system specific"]

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: False
description: Icon on Desktop
values: ["no", "yes"]
default: ["no"]

[ProductProperty]
type: unicode
name: startmenuentry
multivalue: False
editable: False
description: Startmenu entry (Directory & Link) in 'common-programs'
values: ["no", "yes"]
default: ["yes"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: register-file-types
multivalue: False
editable: False
description: Register file types to yEd (.ged, .gml, .graphml, .graphmlz, .tgf, .xgml, .ygf)
values: ["no", "yes"]
default: ["yes"]

[Changelog]
dfn_yed (3.14.4-3)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 05.10.2015

dfn_yed (3.14.3-3)
	* neue Upstreamversion
	* Software-Download bei OPSI-Paket-Installation auf Server (postinst)
	* ProductId in 'common.opsiinc' gleichgezogen mit 'control' und ProductIdIntern mit 'yed' eingeführt
	* alle Variablen & Werte nach 'common.opsiinc'
	* ProductProperty 'install_architecture' & Warnungen bei nicht getesten Win-Versionen hinzugefügt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 27.08.2015

dfn_yed (3.14.2-2)
	* small changes on integrating custom directory
 -- thomas.besser@kit.edu (08.06.2015)

dfn_yed (3.14.2-1)
	* adapt opsi scripts to new upstream
 -- thomas.besser@kit.edu (03.06.2015)

dfn_yed (3.14.1-1)
	* initial packet for new yed upstream version (software not included)
	* 'yed.exe' created with launch4j for registering of file types
	* execute 'custom' scripts if exists
 -- thomas.besser@kit.edu (03.06.2015)








































